<div class="se-pre-con"></div>






<div class="row center">
 <div class="col s6">
    <div class="mobilefriendlytext"><span><a href='/news'>List</a></span></div>
</div>
<div class="col s6">
    <div class="mobilefriendlytext"><span><a href='/top10'>Map</a></span></div>
</div>
</div>
<hr>

<li class="collection-item avatar">
<i class="material-icons circle red">looks_one</i>
<span class="title">Title</span>
<p>First Line <br>
   Second Line
</p>
<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
</li>

<li class="collection-item avatar">
<i class="material-icons circle orange">looks_two</i>
<span class="title">Title</span>
<p>First Line <br>
   Second Line
</p>
<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
</li>

<li class="collection-item avatar">
<i class="material-icons circle green">looks_3</i>
<span class="title">Title</span>
<p>First Line <br>
   Second Line
</p>
<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
</li>





